anaconda-anon-usage
anyio
archspec
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
boltons
Bottleneck
Brotli
certifi
cffi
charset-normalizer
click
comm
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distro
executing
fastjsonschema
fonttools
frozendict
h11
httpcore
httpx
idna
imbalanced-learn
ipykernel
ipython
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
langdetect
libmambapy
MarkupSafe
matplotlib
matplotlib-inline
menuinst
mistune
mkl-service
mkl_fft
mkl_random
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
pluggy
ply
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycosat
pycparser
Pygments
pyparsing
PyQt5
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
ruamel.yaml
scikit-learn
scipy
Send2Trash
setuptools
sip
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
truststore
typing_extensions
tzdata
unicodedata2
urllib3
vaderSentiment
wcwidth
webencodings
websocket-client
wheel
wordcloud
zstandard
